<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperID"
        tools:targetApi="31">
        <!--        <application-->
        <!--        android:label="@string/title_activity_settings"-->
        <!--        android:icon="@mipmap/ic_settings_launcher">  &lt;!&ndash; Corrected line &ndash;&gt;-->
        <!--            &lt;!&ndash; other activity settings like intent filters &ndash;&gt;-->
        <!--            </application>-->


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SuperID">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginFormActivity" />
        <activity android:name=".RecuperacaoSenhaActivity" />
        <activity android:name=".PasswordManagerScreenActivity" />
        <activity android:name=".UserRegistrationActivity" />
        <activity android:name=".PasswordFormActivity"/>
        <activity android:name=".EditPasswordActivity" />
    </application>

</manifest>